         body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        
        h1 {
            text-align: center;
            font-size: 28px;
            margin-bottom: 20px;
        }
        
        table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
        }
        
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        
        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
        
        .header-column {
            text-align: left;
            font-weight: bold;
        }
        
        .npm {
            color: #666;
        }
        
        .nama {
            color: #0e0e0f;
        }
        
        .absen-header, .tugas-header {
            text-align: center;
            font-weight: bold;
        }
        
        .nilai {
            font-weight: bold;
        }